<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar">
      <h1 class="logo"><%= title %></h1>
    </nav>

    <div class="container"></div>

    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/app.js"></script>
    <script>require('src/app.js')</script>

  </body>
</html>
